version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: votacao-postgres
    environment:
      POSTGRES_DB: votacao-db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_INITDB_ARGS: "--data-checksums"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - votacao-network
    command: >
      postgres
        -c max_connections=100
        -c shared_buffers=256MB
    healthcheck:
          test: ["CMD-SHELL", "pg_isready -U admin -d votacao-db"]
          interval: 5s
          timeout: 5s
          retries: 20
          start_period: 10s
    deploy:
      resources:
        limits:
          memory: 1G

  redis:
    image: redis:7-alpine
    container_name: votacao-redis
    ports:
      - "6379:6379"
    networks:
      - votacao-network
    command: >
      redis-server
        --maxmemory 256mb
        --maxmemory-policy allkeys-lru
        --save ""
        --appendonly no
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s
    deploy:
      resources:
        limits:
          memory: 512M

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: votacao-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - votacao-network
    healthcheck:
      test: [ "CMD-SHELL", "rabbitmq-diagnostics -q ping" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    deploy:
      resources:
        limits:
          memory: 512M
  app:
    build: .
    environment:
      SERVER_PORT: 8080

      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/votacao-db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin

      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

      LOGGING_LEVEL_ROOT: INFO

      TZ: America/Sao_Paulo
      JAVA_TOOL_OPTIONS: "-Duser.timezone=America/Sao_Paulo"
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - votacao-network
    expose:
      - "8080"

  nginx:
    image: nginx:1.27-alpine
    container_name: votacao-nginx
    depends_on:
      - app
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - votacao-network


volumes:
  postgres_data:
  redis_data:
    name: "votacao_redis_data"
  rabbitmq_data:

networks:
  votacao-network:
    driver: bridge